{% extends 'account/base.html' %}

{% block title %}Sign Up{% endblock %}
{% block content %}
    <p>Enter your email address and we'll send you a link to reset your password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="following-six">Remember your password?<strong class="following-emphasis-1"></strong>
        <button type="button"><a href="{% url 'login' %}">Login</a></button></p>
    <div>
        {% for msg in messages%}
            <h3> {{msg}} </h3>
        {% endfor %}
    </div>
{% endblock %}