{% extends 'account/base.html' %}

{% block title %}Resest Password{% endblock %}
{% block content %}
<h2>Reset your password</h2>
    <form method="post">
        {% csrf_token %}
        <label for="password1">New password:</label>
        <input type="password" name="password1" id="password1">
        <br>
        <label for="password2">Confirm new password:</label>
        <input type="password" name="password2" id="password2">
        <br>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    <div>
        {% for msg in messages%}
            <h3> {{msg}} </h3>
        {% endfor %}
    </div>

{% endblock %}